@model List<ReworkApp.Entities.Usuario>

@{
    ViewData["Title"] = "Principal";
   
}
<div class="right_col col-md-6 col-sm-10 container body" role="main">

<div class="card-body register-card-body">
    <h4 class="">Datos del usuario</h4>
    <hr><br />

        <table id="tabla-Usuarios" class="table table-hover table-bordered table-info">
        <thead>
            <tr>

                <th>Nombre</th>
                <th>Correo</th>
                <th>Rol</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                   
                    <td>@item.Nombre</td>
                    <td>@item.Correo</td>
                    <td>@item.Descripcion</td>
                    <td>@item.Estado</td>

                    <td>
                        <a href="@Url.Action("ActualizarUsuario","Home", new { q = item.id_usuario})">
                            <i class="fa fa-user"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

  </div>
</div>
<script src="~/Page/jquery/jquery.min.js"></script>
<script src="~/js/ConsultaUsuarios.js"></script>


